<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <% if( user ) { %>
        <div style="margin-right: 0; margin-left: auto">
          <form method="POST" action="/logout">
            <span style="margin-right: 10px">Logged in as: <%= user.email %></span>
            <button style="color: black; background-color: transparent; height: 35px; width: 90px; border: 1px solid black; border-radius: 5px;">Logout</button>
          </form>
        </div>
      <% } else { %>  
        <div style="margin-right: 0; margin-left: auto">
          <form method="POST" action="/login">
            <span style="margin-right: 10px">Not logged in as user</span>
            <button style="color: black; background-color: transparent; height: 35px; width: 90px; border: 1px solid black; border-radius: 5px;">Login</button>
          </form>
        </div>
      <% } %>


    </div>
  </nav>
</header>