<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <span>Log In</span>
    <form class="form-inline" action="/login" method="POST">
      <div>Email: <input type="email" name="email" /></div>
      <div>Password: <input type="password" name="password"/></div>
      <div><button>Log In</button></div>
    </form>
  </body>
</html>