<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Register - TinyApp</title>
  </head>
  <body>
    <!-- Add the header -->
    <%- include('partials/_header') %>
    <span>Sign Up</span>
    <form class="form-inline" action="/register" method="POST">
      <div>Email: <input type="email" name="email" /></div>
      <div>Password: <input type="password" name="password"/></div>
      <div><button>Register</button></div>
    </form>
  </body>
</html>